
@media (max-width: 1300px) {
    * {
        border: 1px solid #ffffff00;
    }
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
    overflow-x: scroll;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}


.container {
    position: relative;
    z-index: 10;
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 767px) {
    .slide.two {
        margin-top: 0;
    }
}

.slide {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;

}

.blocHorizontal {
    z-index: 50;
    color: rgb(255, 255, 255);
    display: flex;
    width: 400vw;
    transform: rotate(90deg)translateY(-100vh);
    transform-origin: top left;
}





.one {


    background-color: #c3c3c3;
}

.two {

    background: linear-gradient(90deg, rgb(184, 184, 184) 0%, rgb(58, 58, 58) 100%);
}

.three {

    background: linear-gradient(90deg, rgb(58, 58, 58) 0%, rgba(33, 33, 33, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.four {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.presentation {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    position: absolute;
    max-width: 1700px;
    margin: 10px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
}




.fleche:hover {
    filter: opacity(1);
}

.fleche,
.fleche2,
.fleche3,
.fleche4,
.flecheretour {
    position: absolute;
    width: 100px;
    bottom: 2%;
    top: auto;
    right: 18px;
    background: transparent;
    filter: opacity(0);
    animation: visible 8s infinite;


}

@keyframes visible {
    0% {
        filter: opacity(0);
    }

    50% {
        filter: opacity(0.1);
    }

    100% {
        filter: opacity(0);
    }


}

.fleche {

    right: 45vw;

}

.flecheretour {
    rotate: 180deg;
    left: 18px;
}

.fleche3 {
    animation: visible2 8s infinite;
}

.fleche4 {

    filter: invert(100%);
    rotate: 180deg;
    left: 18px;
    animation: visible2 8s infinite;
}

@keyframes visible2 {
    0% {
        filter: invert(100%);
    }

    50% {
        filter: invert(0%);
    }

    100% {
        filter: invert(100%);
    }


}


html {
    scroll-behavior: smooth;
}


.three {


    font-family: Geneva, Tahoma, sans-serif;
    font-size: 3rem;

    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;

    align-items: center;

}

.liendl {
    color: rgb(222, 163, 13);
}

.liendl:hover {
    color: darkgoldenrod;
}


.header {
    position: fixed;
    top: 2%;
    left: 1%;
    z-index: 10;
    gap: 5px;
    display: flex;
    text-align: center;
    animation: ombre 3s ease forwards;
    animation-delay: 2s;
    opacity: 0;
}


.menu,
.lien,
.contact {





    padding-right: 3%;
    font-size: 3rem;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
    user-select: none;



}

#btn {
    position: relative;


    color: black;

}

#btn:hover {

    color: rgb(255, 255, 255);
}

a {
    color: inherit;
    text-decoration: inherit;
}

.nom {

    position: absolute;
    color: rgb(255, 255, 255);
    left: 8vw;
    color: #131313;
    letter-spacing: .15em;
    animation: ombre 3s ease forwards;
    opacity: 0;

}

@keyframes ombre {
    to {
        opacity: 1;
        text-shadow: 1px -1px 0 #767676, 1px 2px 1px #737272, 2px 4px 1px #767474, 3px 6px 1px #787777,
            4px 8px 1px #7b7a7a, 5px 10px 1px #7f7d7d, 6px 12px 1px #828181, 7px 14px 1px #868585,
            8px 16px 1px #8b8a89, 9px 18px 1px #8f8e8d, 10px 20px 1px #949392, 11px 22px 1px #999897ce,
            12px 24px 1px #9e9c9ca9;
    }
}

.intitule {
    font-size: 30px;
    text-shadow: none;
}

.etoile {
    position: relative;
    background-color: white;
    display: block;
    width: 1px;
    height: 1px;
    border-radius: 50px;
}

.etoile1 {
    width: 10px;
    height: 10px;
    position: relative;
    left: 49%;
    bottom: -48%;
}

.etoile2 {
    position: relative;
    left: -49%;
    bottom: 49%;
}

.openstarwars {

    position: absolute;
    text-align: center;
    font-size: 3rem;
    color: rgb(187, 255, 0);

    transform: perspective(300px) rotateX(33deg);

}

@media (max-width: 1120px) {
    .openstarwars {
        font-size: 2rem;
    }
}


.lien1:hover {
    color: rgb(132, 157, 4);
}

.lien2:hover {
    color: rgb(132, 157, 4);
}

.lien3:hover {
    color: rgb(132, 157, 4);
}

.lien4:hover {
    color: rgb(132, 157, 4);
}


.logo {
    width: 30px;

}

.brille {

    filter: opacity(0.1);
    animation: brille 5s infinite;
}

@keyframes brille {
    0% {
        filter: opacity(0.1);

    }

    50% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0.1);
    }


}