body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgba(0, 81, 255, 0.428);

    ;
}

.blocHorizontal {
    color: rgb(255, 255, 255);
}

.container {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 767px) {
    .slide.two {
        margin-top: 0;
    }
}

.slide {

    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.blocHorizontal {

    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg)translateY(-100vh);
    transform-origin: top left;
}






.one {

    position: relative;
    background-color: rgb(0, 0, 0);
}

.two {

    background-color: rgb(37, 37, 37);

    z-index: 1;
}

.presentation {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 60px;
    position: absolute;
    top: 1%;
    bottom: auto;
    max-width: 700px;
    margin: 10px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
}

.three {
    background-color: rgb(58, 58, 58);
}

.four {
    background-color: rgb(96, 96, 96);
}

.slide .text-over-image {
    position: absolute;
    top: 350px;
    left: 20vw;
    right: 0;
    margin: auto;
    transform: translate(-50%, -50%);
    font-size: 65px;
    color: rgb(18, 24, 78);
    caret-color: rgb(0, 0, 0);
}

.fleche:hover,
.fleche2:hover,
.flecheretour:hover {
    filter: invert(100%);


}

.fleche,
.fleche2,
.flecheretour {
    position: absolute;
    z-index: 3;
    width: 100px;
    bottom: 5%;
    top: auto;
    right: 18px;
    background: transparent;
}
.fleche{
    align-content: center;
    
}

.flecheretour {
    rotate: 180deg;
    left: 18px;
}

.photoDeMoi {
    height: 100%;
}

.bureau {
    position: absolute;

    width: 100vw;
    z-index: -1;

}

.bureau::after {
    content: "";
    height: 50px;
    width: 50px;
    color: blue;
}

/* @media (max-width: 767px) {
    .bureau {
       
    } */
.text-over-image {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.text-over-image {
    animation: text-over-image 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
html {
	scroll-behavior: smooth;
}

 @keyframes text-over-image {
    0% {
      transform: translateY(0);
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      transform: translateY(-50px);
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  